@font-face {
  font-family: 'Avenir';
  src: url('./styles/fonts/AvenirLTStd-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: lighter;
  src: url('./styles/fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: bold;
  src: url('./styles/fonts/AvenirLTStd-Black.otf') format('opentype');
}