@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('styles/fonts/AvenirLTStd-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url('styles/fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  src: url('styles/fonts/AvenirLTStd-Black.otf') format('opentype');
}