@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('styles/fonts/Avenir-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url('styles/fonts/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  src: url('styles/fonts/Avenir-Black.ttf') format('truetype');
}