@import './mixins';
@import './variables';
@import './font';

html, body {
  margin: 0;
  padding: 0;
  color: $TEXT;
  font-size: 0.95rem;
  @include scroll;
}

a {
  @include transition(color);
  color: map-get($PRIMARY, TEAL);
  &:hover {
    color: darken($PRIMARY, TEAL);
  }
}

#app {
  font-family: $FONT;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}