@import './mixins';
@import './variables';
@import './font';

html, body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}